.list {
  border: 1px solid #bebebe;
  border-radius: 5px;
  cursor: pointer;
  min-width: 320px;
}

.list:hover {
  box-shadow: 0 0 1px #000000;
}

.tasks {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 5px 10px;
}

.tasks div {
  word-wrap: break-word;
}

.newtask {
  display: flex;
  border-top: 1px solid #bebebe;
  border-bottom: 1px solid #bebebe;
  padding: 5px 10px;
}

.listOptions {
  display: grid;
  grid-template-columns: repeat(5, auto);
  justify-content: end;
  gap: 20px;
  padding: 5px 10px;
  height: 2rem;
  
  position: relative;
}
